<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>859668600505-tcpht5ormmdvv2a31en88kp34vn46npl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859668600505-tcpht5ormmdvv2a31en88kp34vn46npl</string>
	<key>API_KEY</key>
	<string>AIzaSyAlHHgAtJ_FX8PO4g3YrO3Wt0ZIzstMbd8</string>
	<key>GCM_SENDER_ID</key>
	<string>859668600505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Master-Scores.BFast</string>
	<key>PROJECT_ID</key>
	<string>bfast-c2759</string>
	<key>STORAGE_BUCKET</key>
	<string>bfast-c2759.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859668600505:ios:776d6ee067a9d03a</string>
	<key>DATABASE_URL</key>
	<string>https://bfast-c2759.firebaseio.com</string>
</dict>
</plist>